# .env

# Django
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
#DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,*.ngrok-free.app
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

# Database (PostgreSQL)
DB_ENGINE=postgresql
POSTGRES_DB=braincom_db
POSTGRES_USER=braincom_user
POSTGRES_PASSWORD=root
#DB_HOST=db
DB_HOST=localhost
DB_PORT=5432

# CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://*.ngrok-free.app
